<!-- ================= Página de General ================= -->
<div class="general">
    <div class="general__menu">
        <div class="general__menu-item" routerLinkActive="general__menu-item--selected" routerLink="basic">
            Básica
        </div>
        <div class="general__menu-item" routerLinkActive="general__menu-item--selected" routerLink="contact">
            Contato
        </div>
        <div class="general__menu-item" routerLinkActive="general__menu-item--selected" routerLink="address">
            Endereço
        </div>
    </div>
    <div class="general__content">
        <router-outlet></router-outlet>
    </div>
</div>