<div class="container">
  <div class="card">
    <div class="card__side-menu">
      <div class="menu__item" routerLinkActive="menu__item--selected" routerLink="/" [routerLinkActiveOptions]="{exact: true}">
        <span class="material-symbols-outlined menu__item-icon">
          home
        </span>
        Início
      </div>
      <div class="menu__item" routerLinkActive="menu__item--selected" routerLink="general">
        <span class="material-symbols-outlined menu__item-icon">
          person
        </span>
        Geral
      </div>
      <div class="menu__item" routerLinkActive="menu__item--selected" routerLink="transactions">
        <span class="material-symbols-outlined menu__item-icon">
          credit_card
        </span>
        Transações
      </div>
    </div>
    <div class="card__content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>